In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [ ]:
df1=pd.read_csv('/content/bengaluru_house_prices.csv')
df1.head()

In [ ]:
df2=df1.drop(['area_type','availability','society','balcony'],axis='columns')
df2.head()
df3=df2.dropna()
df3.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [ ]:
df3['bhk']=df3['size'].apply(lambda x:x.split(' ')[0])
df3=df3.drop(['size'],axis='columns')

In [ ]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [ ]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [ ]:
df4=df3.copy()
df4.total_sqft=df4['total_sqft'].apply(convert_sqft_to_num)
df4 = df4[df4.total_sqft.notnull()]
df4.head()

In [ ]:
df5=df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

In [ ]:
df5.location=df5.location.apply(lambda x:x.strip())
loc_stats=df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
loc_stats_less_than_10 = loc_stats[loc_stats<=10]
df5.location = df5.location.apply(lambda x: 'Other' if x in loc_stats_less_than_10 else x)
df5.head(10)

                   location  total_sqft  bath   price bhk  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07   2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00   4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00   3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00   3     6245.890861
4                  Kothanur      1200.0   2.0   51.00   2     4250.000000
5                Whitefield      1170.0   2.0   38.00   2     3247.863248
6          Old Airport Road      2732.0   4.0  204.00   4     7467.057101
7              Rajaji Nagar      3300.0   4.0  600.00   4    18181.818182
8              Marathahalli      1310.0   3.0   63.25   3     4828.244275
9                     other      1020.0   6.0  370.00   6    36274.509804

In [ ]:
df5['total_sqft'] = df5['total_sqft'].astype(float)
df5['bhk'] = df5['bhk'].astype(int)

In [ ]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]
df6.shape

In [ ]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df7 = remove_pps_outliers(df6)

In [ ]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df8 = remove_bhk_outliers(df7)
df8.shape

(7317, 6)

In [ ]:
df9 = df8[df8.bath<df8.bhk+2]
df10 = df9.drop(['price_per_sqft'],axis='columns')
dummies = pd.get_dummies(df10.location)
df11 = pd.concat([df10,dummies.drop('other',axis='columns')],axis='columns')
df12 = df11.drop('location',axis='columns')
df12.head(2)

In [ ]:
X = df12.drop(['price'],axis='columns')
y = df12.price

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8629132245229443

In [ ]:
def predict_price(location,sqft,bath,bhk):
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [ ]:
import pickle
with open('banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))